@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

#title {
  font-family: Bebas Neue;
}
